<style-links></style-links>
<sidebar content="'grados'"></sidebar>
<div id="right-panel" class="right-panel">
  <header-component></header-component>
  <div class="content pb-0">
    <div class="row">
      <div class="card w-100">
        <div class="card-header" ng-if="!vm.grado">
          <strong class="card-title">Crear </strong> Grado
        </div>
        <div class="card-body">
          <div id="pay-invoice">
            <div class="card-body">
              <div class="card-title">
                <h3 class="text-center" ng-if="!vm.grado">Ingrese los datos</h3>
              </div>
              <hr />
              <form name="vm.gradoForm" novalidate>
                <div class="form-group">
                  <label for="cc-payment" class="control-label mb-1"
                    >Grado</label
                  >
                  <input
                    id="grado"
                    name="grado"
                    type="text"
                    class="form-control"
                    required
                    ng-model="vm.gradoModel.grado"
                  />
                  <small class="form-text text-danger" >*Ingrese el grado</small>
                </div>    
                <div class="form-group">
                    <label for="cc-payment" class="control-label mb-1"
                      >Nivel Educativo</label
                    >
                    <input
                      id="nivel_educativo"
                      name="nivel_educativo"
                      type="text"
                      class="form-control"
                      required
                      ng-model="vm.gradoModel.nivel_educativo"
                    />
                    <small class="form-text text-danger" >*Ingrese el Nivel Educativo</small>
                  </div>              
              </form>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <button
            type="submit"
            class="btn btn-primary btn-sm"
            ng-click="vm.guardarGrado()"
          >
            <i class="fa fa-dot-circle-o"></i> Guardar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
