<style-links></style-links>
<div ng-if="vm.authenticationService.currentUser && vm.authenticationService.currentUser.profile.tipo == 3">
  <header-component></header-component>
  <slider></slider>
  <div class="center">
    <section id="">
        <h1 class="subheader text-dark">Evaluaciones Disponibles</h1>

        <div class="post-container" ng-repeat="evaluacion in vm.evaluaciones track by $index">
          <a  class="text-dark">
            <h1>{{evaluacion.titulo}}</h1>
          </a>
          <div class="post-info">
            <span><i class= "fa fa-book"></i> <span class="username">{{evaluacion.curso.nombre}}</span> <i class= "fa fa-user"></i> {{evaluacion.catedratico.first_name}} {{evaluacion.catedratico.last_name}} </span>
          </div>
          <br>
          <div class="post-content">
            <div class="text-link-container">
              <div class="text-container">
                <p>{{ evaluacion.preguntas.length }} preguntas</p>
              </div>
              <a class="pointer-link" ng-click="vm.resolverEvaluacion(evaluacion.id)"> Resolver Evaluacion <i class="fa fa-angle-double-right"></i> </a>
            </div>
          </div>
        </div>

    </section>
  </div>
</div>

<div ng-if="vm.authenticationService.currentUser && vm.authenticationService.currentUser.profile.tipo != 3">
  <sidebar content="'evaluaciones'"></sidebar>
  <div id="right-panel" class="right-panel">
    <header-component></header-component>
    <div class="content pb-0">
      <div class="row">
        <div class="card w-100">
          <div class="card-header">
            <strong class="card-title">Evaluaciones disponibles</strong>
          </div>
          <div class="card-body">
            <table class="table">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Titulo</th>
                  <th scope="col">Curso</th>
                  <th scope="col">Catedratico</th>
                  <th scope="col">Preguntas</th>
                  <th scope="col">Acciones</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="evaluacion in vm.evaluaciones track by $index">
                  <th scope="row">{{evaluacion.id}}</th>
                  <td>{{evaluacion.titulo}}</td>
                  <td>{{evaluacion.curso.nombre}}</td>
                  <td>
                    {{evaluacion.catedratico.first_name}}
                    {{evaluacion.catedratico.last_name}}
                  </td>
                  <td>{{evaluacion.preguntas.length}}</td>
                  <td>
                    <button
                      type="button"
                      class="btn btn-lg btn-warning btn-sm"
                      ng-click="vm.editarEvaluacion(evaluacion.id)"
                    >
                      <i class="fa fa-pencil fa-lg"></i>&nbsp;
                      <span id="payment-button-amount">Editar</span>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
